.sign_up_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
    background-color: var(--m-color);
    padding: 2rem;
    border-radius: 15px;
}

.form_header {
    color: var(--form-heading-color);
    font-size: 0.8rem;
}

.form_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.form_input_group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;
    background-color: #1f2029;
    outline: 0;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    z-index: 10;
    input {
        background-color: #1f2029;
        outline: none;
        border: 0;
        color: var(--form-input-color);
        font-size: 0.65rem;
        font-weight: 600;
        &::-webkit-input-placeholder {
            font-size: 0.6rem;
            line-height: 3;
        }
    }

    i {
        color: var(--form-input-color);
        transition: color 0.3s ease-in-out;

        &::after {
            content: "";
            margin: 0 0.5rem;
            position: absolute;
            width: 1px;
            height: 50%;
            background-color: #2a2b38;
        }
    }

    &:focus-within {
        i {
            color: var(--form-heading-color);
        }
    }
}

.btn {
    border: none;
    outline: none;
    color: var(--form-heading-color);
    background-color: #20202a;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    font-weight: var(--b-size);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(22, 22, 22);
    }
}
